/*!* Login Component Styles *!*/
/*.login-page {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width: 100%;*/
/*  height: 100vh;*/
/*  background: linear-gradient(135deg, #F0E6FA, #E6CCF2);*/
/*}*/

/*.login-box {*/
/*  width: 480px;*/
/*  max-width: 90%;*/
/*  background-color: white;*/
/*  border-radius: 12px;*/
/*  padding: 50px 40px;*/
/*  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);*/
/*  text-align: center;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 20px;*/
/*}*/

/*!* Titles *!*/
/*h1 {*/
/*  color: #4B0082;*/
/*  margin: 0;*/
/*  text-decoration: underline;*/
/*  font-size: 42px;*/
/*}*/

/*.login-box h2 {*/
/*  color: #4B0082;*/
/*  margin: 0;*/
/*  font-size: 30px;*/
/*}*/

/*.login-box .subtitle {*/
/*  color: #6A0DAD;*/
/*  font-size: 18px;*/
/*  margin-bottom: 25px;*/
/*}*/

/*!* Form *!*/
/*.login-box form {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 16px;*/
/*}*/

/*!* Register Link *!*/
/*.login-box .register-text {*/
/*  font-size: 15px;*/
/*  margin-top: 20px;*/
/*}*/

/*.login-box .register-text a {*/
/*  color: #6A0DAD;*/
/*  text-decoration: none;*/
/*  font-weight: bold;*/
/*}*/

/*.login-box .register-text a:hover {*/
/*  text-decoration: underline;*/
/*}*/
