spring:
  datasource:
    url: jdbc:h2:mem:openapi;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: false

# disable anything external
spring.main.banner-mode: off
logging.level.root: warn
